<div class="row">

    <h1> Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
        <h1>Trabajo 1</h1> - <h3> (años)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur
         adipisicing elit. Distinctio rem doloribus unde est magni quia qui, nostrum a iusto odit, dolores cum soluta incidunt eaque, 
        delectus recusandae consequatur eum ipsum?</p>
      </ul>
      <ul>
        <li>
        <h1>Trabajo 2</h1> - <h3> (años)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur
         adipisicing elit. Distinctio rem doloribus unde est magni quia qui, nostrum a iusto odit, dolores cum soluta incidunt eaque, 
        delectus recusandae consequatur eum ipsum?</p>
      </ul>
      <ul>
        <li>
        <h1>Trabajo 3</h1> - <h3> (años)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur
         adipisicing elit. Distinctio rem doloribus unde est magni quia qui, nostrum a iusto odit, dolores cum soluta incidunt eaque, 
        delectus recusandae consequatur eum ipsum?</p>
      </ul>

    </div>

</div>
