<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" alt="fotoperfil" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Favio Edgardo Pereyra</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus debitis qui similique incidunt ratione, aliquam eveniet cumque et nihil consequuntur deleniti iusto blanditiis beatae est facilis ad autem fugit! Minima.</p>
        </span>
    </div>
</div>
